.styled-table {
  border: 1px solid #636363;
  border-collapse: collapse;
  min-width: 400px;
  text-align: left;
  margin: auto;
}

.styled-table th,
.styled-table td {
  border: 1px solid #636363;
  border-collapse: collapse;
  font-size: 14px;
  padding: 12px 24px;
  max-width: 300px;
}

.styled-table tr :first-child {
  font-weight: bold;
}
